.contact {
  background-color: var(--color-dark-100);
  &__wrapper {
  }
  &__hero {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-dark-400);
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__left {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__right {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }

    &__title {
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    &__description {
      margin-bottom: 1rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    &__row {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--color-dark-200);
      border: 1px solid var(--color-dark-400);
      border-radius: 0.5rem;
      padding: 1rem;

      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover {
        background-color: var(--color-dark-300);
        border: 1px solid var(--color-green-100);

        i {
          background-color: var(--color-green-300);
        }
      }
    }
    &__left {
      i {
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--color-green-100);
        background-color: var(--color-green-400);
        padding: 0.5rem;
        border-radius: 0.5rem;

        transition: background-color 0.3s ease;
      }
    }
    &__right {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;
      span {
        font-size: 0.875rem;
      }
      p {
        color: var(--color-white-100);
        font-size: 1rem;
      }
    }
  }
  &__cta {
    &__title {
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &__list {
      display: flex;
      gap: 1rem;
    }
    &__item {
      background-color: var(--color-dark-300);
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: 1px solid transparent;

      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover {
        background-color: var(--color-dark-400);
        border: 1px solid var(--color-green-100);

        i {
          color: var(--color-white-100);
        }
      }
    }
    &__link {
      i {
        color: var(--color-white-200);
        transition: color 0.3s ease;
        font-size: 1.5rem;
      }
    }
  }
  &__creds {
    text-align: center;
  }
}
