.form {
  background-color: var(--color-dark-200);
  border: 1px solid var(--color-dark-400);
  border-radius: 1rem;
  padding: 1rem;

  transition: border 0.3s ease;

  &:hover {
    border: 1px solid var(--color-green-100);
  }

  &__title {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 0;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    input,
    textarea {
      width: 100%;
      background-color: var(--color-dark-300);
      border: 1px solid var(--color-dark-400);
      outline: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: var(--color-white-100);
      font-family: inherit;

      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover {
        background-color: var(--color-dark-400);
        border: 1px solid var(--color-green-100);
      }
    }
    textarea {
      resize: none;
    }
  }
  #btnForm {
    width: 100%;
  }
}
