* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-white-100);
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
