:root {
  --font-main: "Inter", sans-serif;
  --font-text: "Finlandica", sans-serif;

  --color-dark-100: rgba(8, 12, 20, 1);
  --color-dark-200: rgba(16, 24, 40, 1);
  --color-dark-300: rgba(33, 38, 48, 1);
  --color-dark-400: rgba(57, 61, 70, 1);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-200: rgba(192, 192, 192, 1);

  --color-green-100: rgba(0, 188, 125, 1);
  --color-green-200: rgba(0, 188, 125, 1);
  --color-green-300: rgba(0, 153, 102, 0.75);
  --color-green-400: rgba(0, 153, 102, 0.5);
}
