// Base
@use "./style/base/reset";
@use "./style/base/base";
@use "./style/base/variables";

// Components
@use "./style/components/tags";
@use "./style/components/form";

// Header
@use "./style/components/header";

// Main
@use "./style/components/hero";
@use "./style/components/about";
@use "./style/components/skills";
@use "./style/components/projects";

// Footer
@use "./style/components/contact";
