// Base
@use "./style/base/reset";
@use "./style/base/base";
@use "./style/base/variables";

// Components
@use "./style/components/header";
@use "./style/components/tags";

// Pages
@use "./style/components/hero";
@use "./style/components/about";
@use "./style/components/skills";
@use "./style/components/projects";
